go 1.19

use ./functions
use ./example-ifelse-iterations
use ./example-imports
use ./interfaces
use ./methods
use ./example-streams-and-buffers
use ./structs
use ./example-work-with-json
use ./pointers
